<mat-toolbar color="primary">
  <span>Nestever</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<mat-toolbar class="main-menu">
  <button mat-button>Dashboard</button>
  <button mat-button>Properties</button>
  <button mat-button>Leads</button>
  <button mat-button>Clients</button>
  <button mat-button>USERS</button>
  <button mat-button>LANDING Banner</button>
  <button mat-button>Offer Banners</button>
  <button mat-button>Events & Feeds</button>
  <button mat-button>Profile Settings</button>
</mat-toolbar>

<router-outlet></router-outlet>